@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

.click {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;

    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F3F3F3;
}

header {
    width: 100%;
    height: 80px;
    padding: 0 20px;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    width: 75px;
}

header ion-icon {
    font-size: 50px;
}


footer {
    width: 100%;
    height: 80px;
    padding: 0 20px;

    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;    

    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer ion-icon {
    font-size: 26px;
}

footer input {
    width: 100%;
    margin-right: 25px;
    text-decoration: none;
    border: none;
    outline: none;
}

footer ::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    margin: 106px 25px;

    font-size: 14px;

    display: flex;
    flex-direction: column;
}

.messages {
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
    padding: 13px;

    display: flex;
    align-items: center;

    background-color: #FFFFFF;
}

.InOut {
    background-color: #DCDCDC;
}

.inPrivate {
    background-color: #FFDEDE;

}

menu {
    width: 70%;
    height: 100%;
    padding: 20px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5);
}

.exit {
    font-size: 50px;
}

.top {
    margin-top: 25px;
    margin-bottom: 40px;
}

menu span {
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
}

menu h6 {
    width: 100%;


    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

menu h5 {
    margin-top: 25px;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

menu ion-icon {
    font-size: 25px;
    margin-right: 8px;
}

.openCard {
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: 2;
    top: 0;

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
}

.login {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login input {
    width: 261px;
    height: 54px;
    margin-top: 94px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    text-align: center;
    text-decoration: none;
    outline: none;

    font-size: 18px;
    font-weight: 700;

    color: black;
}

.login input:placeholder-shown {
    font-size: 18px;
    font-weight: 400;
    color: #AEAEAE;
}

.login .buttom {
    width: 109px;
    height: 45px;
    margin-top: 15px;

    background-color: #E7E7E7;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.25s;
}

.login .buttom:active {
    background-color: #696969;
}

.erroMsg {
    width: 60%;
    margin-top: 20px;

    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-align: center;

    color: red;
}

.buttom p {
    font-size: 18px;
    font-weight: 400;

    color: #696969;
}

.buttom p:active {
    color: #E7E7E7;
}

.escondido {
    display: none;
}



